@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&family=Inter:wght@300;400;500&display=swap');
@import "leaflet/dist/leaflet.css";
@import "react-day-picker/dist/style.css";
@import "tailwindcss" source(none);

@source "./";

@theme {
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Inter", sans-serif;
  
  --color-stone-50: #fcfcfb;
  --color-stone-100: #f7f7f5;
  --color-stone-200: #efeee9;
  --color-stone-300: #e1dfd6;
  --color-stone-800: #2d2c2a;
  --color-stone-900: #1a1918;
}

@layer base {
  body {
    @apply bg-stone-50 text-stone-800 font-sans antialiased;
  }
  
  h1, h2, h3, h4 {
    @apply font-serif font-medium tracking-tight text-stone-900;
  }
}
